.header{
    display: flex;
    justify-content: center;
    margin: 100px;
}

.content{
    margin: 0 auto 0;
    padding: 0 100px;
    width: 1120px;
}

.content h6{
    font-size: 20px;
    line-height: 50px;
}

.content p{
    font-size: 18px;

}
